# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[xX]64/
[xX]86/

# NuGet
packages/
*.nupkg

# Logs
*.log
*.rar

# OS generated
Thumbs.db
.DS_Store

# Local database
*.mdf
*.ldf
